.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body{
  font-family: Bree Serif;
}
@media all and (min-width: 0px) and (max-width: 500px){
  .nav-header{
    height: 20px;
    background-color: #61dafb;
    font-family: Bree Serif;
  }
  .nav-menu{
    background-color: white;
    margin-left: 0px;
  }
  .navbar-nav {
    margin-left: 10px;
    font-family: Bree Serif;
    color: black;
  }
  .navbar-nav a{
    text-decoration: none;
    color: black;
    
  }
  .it-menu{
    background-color: #61dafb;
  }
  .header-info{
    position: absolute;
    left:5px;
    top: -8px;
    font-size: 10px;
  }
  /* Buscador */
.input{
  position: absolute;
  top:6px;
  left: 80px;
  width:70px;
  font-size: 10px;

  height: 10px;
}
.fa-shopping-cart{
 position: absolute;
 top: 10px;
 left: 290px;
font-size: 12px;
 
}
/*Links header*/
.header-lk{
  font-size: 9px;
  margin-top:5px;
}
/* Icono buscador */
.fa-search{
  position: absolute;
  top:8px;
  left: 140px;
}
.jumbotron{
  height: 200px;
  background-color: white;
  margin-left: 20px;
}
.img-pr{
  margin-top: 5px;
  width: 2000px;
  height:130px;
  border: 2px solid #61dafb;
}
/* Categorias general */
.cat{
  margin-right: 0px;
  padding:15px;
  margin-left:20px;
 
  font-family: Bree Serif;
  color: white;
}
/* Image size on category*/
.img-pro{
  width: 500px;
  height: 150px;
}
/* Category colors*/
.main-cat{
  background-color: #b5d485;
  width: 200px;
  height:200px;
  margin-left:20px;
}
.main-cat1{
  background-color: #f39aa6;
  width: 200px;
  height:200px;
  margin-left:20px;

}
.main-cat2{
  background-color: #6fd0f4;
  width: 200px;
  height:200px;
  margin-left:20px;
 
}
.titulos{
  font-family: Bree Serif;
}
.icolor{
  color: #b5d485;
}
/*Divider*/
.dropdown-divider{
  background-color:#61dafb;
  height: 2px;
}
.img-prods{
  height: 120px;
  width: 150px;
 
}
.in-div{
  background-color:#b5d485;
  height: 2px;
  width: 50%;
}
.product{
  height: 250px;
}
.img-prods{
  height: 120px;
  width: 100px;
  
}
.precio{
  font-weight: bold;
  font-family:  Bree Serif;
  font-size: 13px;
 
}
.titulo{
  font-size: 9px;
  font-family:  Bree Serif;
 
}
.btn-cart{
  font-family:  Bree Serif;
  font-size: 8px;
  width: 90px;
  height: 25px;
  background-color: #6fd0f4;
  color: black;
  border: none;
 
}
.btn-cart:hover{
  background-color: #f39aa6;
  color: white;
}
/* pie */
.pie{
  font-family:  Bree Serif;
}
.mr {
  color: #b5d485;
}
.ct {
  color: #f39aa6;
 
}
.rd{
  color: #61dafb;
}
.pie p{
  font-size: 10px;
}
.map{
  width: 100%;
}
}
@media all and (min-width: 800px) and (max-width: 1199px){
  .nav-header{
    height: 20px;
    background-color: #61dafb;
    font-family: Bree Serif;
  }
  .nav-menu{
    background-color: white;
    margin-left: 60px;
  }
  .navbar-brand{
    position: absolute;
    top: -4px;
    left:-20px;
    height: 10px;
  }
  .navbar-nav {
    margin-left: 350px;
    font-family: Bree Serif;
    color: black;
  }
  .navbar-nav a{
    text-decoration: none;
    color: black;
    
  }
  .it-menu{
    background-color: #61dafb;
  }
  .header-info{
    position: absolute;
    left:-300px;
    top: -10px;
  }

/* Buscador */
.input{
  font-size: 10px;
  margin-left: 50px;
  margin-top: 6px;
  height: 15px;
}
/*Carrito */
.fa-shopping-cart{
  margin-left: 250px;
  margin-top: 12px;
  font-size: 12px;
 
}

/*Links header*/
.header-lk{
  font-size: 9px;
  margin-top:5px;
}
/* Icono buscador */
.fa-search{
  position: absolute;
  top:15px;
  left: 525px;
}
/* jumbotron */
.jumbotron{
  height: 270px;
  background-color: white;
}
.img-pr{
  margin-top: -65px;
  width: 2000px;
  border: 2px solid #61dafb;
}
/* Categorias general */
.cat{
  margin-right: 10px;
  padding:15px;
  margin-left:20px;
 
  font-family: Bree Serif;
  color: white;
}
/* Image size on category*/
.img-pro{
  width: 500px;
  height: 120px;
}
/* Category colors*/
.main-cat{
  background-color: #b5d485;
  width: 50px;
  height:150px;
  margin-right: 50px;
}
.main-cat1{
  background-color: #f39aa6;
  width: 50px;
  height:150px;
 
 margin-right: 50px;
}
.main-cat2{
  background-color: #6fd0f4;
  width: 50px;
  height:150px;
 
 margin-right: 50px;
}
.titulos{
  font-family: Bree Serif;
}
.icolor{
  color: #b5d485;
}
/*Divider*/
.dropdown-divider{
  background-color:#61dafb;
  height: 2px;
}
.img-prods{
  height: 120px;
  width: 150px;
  margin-left: 15px;
}
.in-div{
  background-color:#b5d485;
  height: 2px;
  width: 50%;
}
.product{
  height: 250px;
}
.img-prods{
  height: 120px;
  width: 100px;
  margin-left: 15px;
}
.precio{
  font-weight: bold;
  font-family:  Bree Serif;
  font-size: 13px;
}
.titulo{
  font-size: 9px;
  font-family:  Bree Serif;
}
.btn-cart{
  font-family:  Bree Serif;
  font-size: 8px;
  width: 90px;
  height: 25px;
  background-color: #6fd0f4;
  color: black;
  border: none;
}
.btn-cart:hover{
  background-color: #f39aa6;
  color: white;
}
/* pie */
.pie{
  font-family:  Bree Serif;
}
.mr {
  color: #b5d485;
}
.ct {
  color: #f39aa6;
 
}
.rd{
  color: #61dafb;
}
.pie p{
  font-size: 10px;
}
.map{
  width: 100%;
}
}







@media all and (min-width: 1200px) and (max-width: 3000px){
  /* nav header size */
.nav-header{
  height: 20px;
  background-color: #61dafb;
  font-family: Bree Serif;
}

/* nav menu config*/
.nav-menu{
  background-color: white;
  margin-left: -70px;
}
/* menu position  */
.navbar-nav {
  margin-left: 500px;
  font-family: Bree Serif;
  color: black;
}
.navbar-nav a{
  text-decoration: none;
  color: black;
  
}
.it-menu{
  background-color: #61dafb;
}
/* card categories*/
.main-cat{
  width: 150px;
  height:220px;
 margin-right: 50px;
}
.map{
  width: 100%;
}
.titulos{
  font-family: Bree Serif;
}
/* Categorias general */
.cat{
  margin-right: 50px;
  padding:10px;
  margin-left:150px;
  font-family: Bree Serif;
  color: white;
}
/* Image size on category*/
.img-pro{
  width: 500px;
  height: 180px;
}
/* Category colors*/
.main-cat{
  background-color: #b5d485;
  
}
.main-cat1{
  background-color: #f39aa6;
  width: 50px;
  height:220px;
 
 margin-right: 50px;
}
.main-cat2{
  background-color: #6fd0f4;
  width: 50px;
  height:220px;
 
 margin-right: 50px;
}
/*product-info*/
.product{
  height: 250px;
}
/* Size featured products images*/
.img-prods{
  height: 120px;
  width: 100px;
  margin-left: 15px;
}
.precio{
  font-weight: bold;
  font-family:  Bree Serif;
  font-size: 13px;
}
.titulo{
  font-size: 11px;
  font-family:  Bree Serif;
}
.btn-cart{
  font-family:  Bree Serif;
  font-size: 11px;
  width: 150px;
  height: 30px;
  background-color: #6fd0f4;
  color: black;
  border: none;
}
.btn-cart:hover{
  background-color: #f39aa6;
  color: white;
}
/* Header info*/
.header-info{
  position: absolute;
  left:-450px;

  
}
/* Buscador */
.input{
  font-size: 8px;
  margin-left: 100px;
  margin-top: 4px;
  height: 15px;
}
/*Carrito */
.fa-shopping-cart{
  margin-left: 550px;
  margin-top: 10px;
  font-size: 12px;
 
}

/*Links header*/
.header-lk{
  font-size: 10px;
  margin-top:0px;
}
/* Icono buscador */
.fa-search{
  position: absolute;
  top:12px;
  left: 650px;
}
/* jumbotron */
.jumbotron{
  height: 450px;
  background-color: white;
}
.img-pr{
  margin-top: -65px;
  width: 2000px;
  border: 2px solid #61dafb;
}
/*Divider*/
.dropdown-divider{
  background-color:#61dafb;
  height: 2px;
}
.in-div{
  background-color:#b5d485;
  height: 2px;
  width: 50%;
}
/*icons colors*/
.icolor{
  color: #b5d485;
}
/* pie */
.pie{
  font-family:  Bree Serif;
}
.mr {
  color: #b5d485;
}
.ct {
  color: #f39aa6;
 
}
.rd{
  color: #61dafb;
}
.pie p{
  font-size: 10px;
}
}
